{% extends 'base.html.twig' %}

{% block title %}Données et Confidentialité{% endblock %}

{% block body %}
    <div class="container py-5">
        <h1>Données et Confidentialité</h1>
        <p>Contenu de la page à compléter selon les besoins.</p>
    </div>
{% endblock %}
