{% extends 'base.html.twig' %}

{% block title %}Supprimer mon compte{% endblock %}

{% block body %}
    <div class="container py-5">
        <h1>Supprimer mon compte</h1>
        <p>Vous pouvez ajouter ici un bouton avec confirmation pour supprimer définitivement le compte.</p>
    </div>
{% endblock %}
