{% extends 'base.html.twig' %}

{% block title %}Sécurité{% endblock %}

{% block body %}
    <div class="container py-5">
        <h1>Sécurité</h1>
        <p>Contenu de la page à compléter selon les besoins.</p>
    </div>
{% endblock %}
